/* Password view and hide icon */
main .form .bi-eye {
    content: url('password-view-icon.png');
    margin-left: -30px;
    cursor: pointer;
    width: 21px;
    margin-bottom: -6px;
  }

  main .form .bi-eye-slash {
    content: url('password-hide-icon.png');
    margin-left: -30px;
    cursor: pointer;
    width: 21px;
    margin-bottom: -6px;
  }
